footer {
    background-color: rgb(150, 148, 148);
    padding: 25px;
 position: absolute;
    /* left: 0; */
    bottom: 0;
    height: 100px;
    margin: 10px 25px 0;
    overflow: hidden;
}
footer h1{
display: inline;
}


  /* Responsive Nav Bar */
  @media all and (max-width: 600px) {
      nav ul {
          flex-direction: column;
      }
      nav ul li {
          text-align: center;
      }
  }